<div>
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" routerLink="" style="text-decoration: none;">Furni<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" routerLink=""  style="text-decoration: none;">Home</a>
                    </li>
                    <li routerLinkActive="active"><a class="nav-link" routerLink="shop" style="text-decoration: none;">Shop</a></li>
                    <li routerLinkActive="active"><a class="nav-link" routerLink="contact-us" style="text-decoration: none;">Contact us</a></li>
                </ul>

               
                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li> 
                        <div class="dropdown">
                            <button class=" nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span *ngIf="loggedInUser">{{ loggedInUser.name + "  |  " }}  </span> <img src="assets/Images/images/user.svg" alt="">
                                
                            </button>
                            <ul class="dropdown-menu" >
                              <li *ngIf="!loggedInUser"><a class="dropdown-item  text-dark" style="text-decoration: none;" routerLink="profile/signup" >signup</a></li>
                              <li *ngIf="!loggedInUser"><a class="dropdown-item  text-dark" style="text-decoration: none;" routerLink="profile/login">login</a></li>
                              <li *ngIf="loggedInUser"><a class="dropdown-item  text-dark" style="text-decoration: none;" (click)="logout()">logout</a></li>
                            </ul>
                          </div>
                    </li>
                    <li><a class="nav-link" (click)="oncart()"><img src="assets/Images/images/cart.svg">
                        <button *ngIf="cartItemCount" type="button" style="width:max-content; height:max-content;  border-radius: 1rem; font-size: 12px; border:none;background-color: rgb(248, 231, 52); margin-left: -0.5rem; ">{{ cartItemCount }}</button></a></li>
                </ul>
            </div>
        </div>
            
    </nav>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>